{
  "change": "RLYNCH776dMWchBDWr1westDDXwT7C2nxV",
  "curlport": 7771,
  "beneficiaries": {
      "1": {
        "address": "RLYNCH776dMWchBDWr1westDDXwT7C2nxV",
        "amount": 100
    },
      "2": {
        "address": "RBAX5wJmu3VzR7iPyb5wxAdrqvgwn5y43z",
        "amount": 100
    }
  }
}
